:root {
  /* main background */
  --very_dark_blue: hsl(233, 47%, 7%);
  /* card background */
  --dark_desaturated_blue: hsl(244, 38%, 16%);
  /* accent */
  --soft_violet: hsl(277, 64%, 61%);
  /* main heading, stats */
  --white: hsl(0, 0%, 100%);
  /* main paragraph */
  --slightly_transparent_white_p: hsla(0, 0%, 100%, 0.75);
  /* stat headings */
  --slightly_transparent_white_h: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--very_dark_blue);
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: var(--white);
  font-family: "Inter", sans-serif;
}

/* main */

img{
  width: 100%; 
  height: 100%;
}

.img-mobile {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative; 
}

.img-mobile > img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.img-mobile::after{
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 98.6%;
  width: 100%;
  background-color:var(--soft_violet);
  opacity: 0.5;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

main {
  max-width: 330px;
  background-color: var(--dark_desaturated_blue);
  border: 1px solid black;
  border-radius: 7px;
  margin: 1rem;
}

.text {
  padding-inline: 1.7rem;
  padding-top: 1.7rem;
  text-align: center;
}

span {
  color: var(--soft_violet);
}

p {
  font-size: 15px;
  color: var(--slightly_transparent_white_p);
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

.description {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.flex > div {
  padding-bottom: 1.6rem;
}

.flex > div > p {
    color: var(--slightly_transparent_white_h);
}

.img-desktop {
  display: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  max-width: 450px;
  position: relative; 
}

.img-desktop > img {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.img-desktop::after{
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color:var(--soft_violet);
  opacity: 0.5;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
  main {
    max-width: 850px;
    display: flex;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .flex > div {
    padding-bottom: 0;
  }

  .text {
    max-width: 425px;
    padding: 3rem 5rem 3rem 3rem;
    text-align: start;
  }
}
